# Ignore all files using an opt-inn approach
*

# Add .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Add license
!LICENSE.txt

# Add md files
!*.md

# Add fsx files
!*.fsx

# Add command and batch files
!*.cmd
!*.sh

# Add proc file
!Procfile

# Add paket bootstrapper
!/.paket/
!/.paket/paket.bootstrapper.exe

# Add dependencies file
!paket.dependencies
!paket.lock

# Add yml files to ci on appveyor and travis
!appveyor.yml
!.travis.yml

# Add source files
!/scripts/
!/scripts/*.fsx

# Ignore generated documentation files
/docs/content/**/*.md

# Add documentation
!/docs/
!/docs/content/
!/docs/content/*.fsx
!/docs/tools/
!/docs/tools/*.fsx
!/docs/tools/templates/
!/docs/tools/templates/*.cshtml
!/docs/files/
!/docs/files/img/*.png
